:root{
    --top-navbar-height: 50px;
    --lesson-navbar-height: 50px;
    --lesson-wrapper-height: calc(100vh - var(--top-navbar-height) - var(--lesson-navbar-height) - 8px);    /* 最後の項は調整分*/
    --code-header-height: 25px;
    --code-button-height: 50px;
    --code-mirror-height: 55vh;
    --program-output-header-height: 25px;
}


/* CodeMirror カスタム */
.CodeMirror{
    height: var(--code-mirror-height);
}
.CodeMirror-selected {background:#CCCCCC !important;}

/* UIkit カスタム */
.uk-navbar-container {
    height: var(--top-navbar-height);
}

.uk-navbar-left, .uk-navbar-right, .uke-navbar-item{
    height: 100%;
}

.uk-navbar-item, .uk-navbar-nav > li > a, uk-navbar-toggle {
    min-height: 100%;
}

pre {
    white-space: pre-wrap;
    text-align: justify;
}


/* Header */
#nav-header {
    background-color: #e6e6e6;
    position: fixed;
    width: 100%;
    top: 0;
}

button#nav-dropdown{
    border: none;
    outline: none;
}


/* Main contents */
.contents {
    display: flex;
    padding-top: var(--top-navbar-height);
}


.content {
    height: calc(100vh - var(--top-navbar-height));
}

#left-content {
    width: 45vw;
    border-right: 1px solid gray;
}

#right-content {
    width: 55vw;
    border-left: 1px solid gray;
}


#lesson-nav{
    text-align: center;
    height: var(--lesson-navbar-height);
    bottom: 0px;
    padding-top: 10px;
    background-color: rgb(255, 255, 255);
    color: black;
    z-index: 1;
}

#lesson-nav > a{
    text-decoration: none;
    color: rgb(114, 165, 228);
}

#lesson-nav-dropdown {
    margin: 0;
    padding: 0;
    max-height: var(--lesson-wrapper-height);
    overflow: auto;
}

#lesson-wrapper {
    direction: rtl;
    overflow-y: auto;
    height: var(--lesson-wrapper-height);
}

#lesson{
    direction: ltr;
}

/*スクロールバー*/
#lesson-wrapper::-webkit-scrollbar {
}

#code-header {
    height: var(--code-header-height);
    display: inline-block;
}

#code-filename {
    border: 1px solid gray;
    margin-left: 2em;
    padding: 0px 4px 0px 4px;
}

#code-area {
    /* overflow: hidden; */
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
}

#code-textarea *{
    font-size: 15px !important;
}

textarea.code {
    resize: none;
    border: none;
    width: 100%;
    tab-size: 4;
    -moz-tab-size: 4;
}

textarea.code:focus {
    outline: none;
}

#code-buttons {
    text-align: right;
    white-space: nowrap;
    width: 100%;
    height: var(--code-button-height);
}

#code-buttons > button {
    height: 95%;
    border-radius: 25px;
    vertical-align: bottom;
}

button.button {
    margin-left: 5px;
    margin-right: 5px;
}

button.button:active {
    border-bottom: none;/*線を消す*/
}

button#compile-run {
    font-weight: bold;
    color: #ebf7fc;
    background-image: linear-gradient(#6795fd 0%, #97c0fd 100%);
    width: 250px;
}

button#compile-run:hover{
    background-image: linear-gradient(#98b5f7 0%, #75d1fc 100%);
}

button#reset {
    font-weight: bold;
    color: #3f3f3f;
    background-image: linear-gradient(#a5a5a5 0%, #ececec 100%);
    width: 100px;
}

button#reset:hover{
    background-image: linear-gradient(#c4c4c4 0%, #f7f7f7 100%);
}

#program-output {
    width: 100%;
    height: calc(100vh - var(--code-header-height) - var(--code-mirror-height) - var(--code-button-height) - var(--top-navbar-height) - 22px);  /* 最後の項は調整分*/
    margin: 0%;
    border-top: 4px solid gray;
}

#program-output-header {
    height: var(--program-output-header-height);
    padding-left: 1em;
    border-bottom: 1px solid gray;
    background-color: rgba(255, 255, 255, 0.644);
}

#program-output-text {
    padding: 1em 1em 0 1em;
    height: calc(100% - var(--program-output-header-height));
    overflow: auto;
}