{% extends "base.html" %}

{% block css %}
<link rel="stylesheet" href="/static/css/application.css">
{% endblock %}

<!-- Main contents -->
{% block main%}
<!-- Left content -->
<div id="left-content" class="content">
    <div id="lesson-nav" class="uk-position-relative">
        <a href="{{ previous_page }}" class="uk-position-medium uk-position-center-left"><span
                uk-icon="icon: chevron-left"></span>Previous</a>
        <div class="uk-position-medium uk-position-center">
            <div>{{ page_index }} / {{ page_count }}<span uk-icon="icon: chevron-down"></span></div>
            <div id="lesson-nav-dropdown"
                uk-dropdown="mode: click; pos: bottom-justify; boundary: #lesson-nav; boundary-align: true; animation: uk-animation-slide-top-small">
                <ul class="uk-nav uk-dropdown-nav uk-list-striped">
                    {% for url, name in links %}
                    {% if url == url_for('lesson', lang=lang, section=section, page=page) %}
                    <li class="uk-active">{{ loop.index0 + 1 }}. {{ name }}</li>
                    {% else %}
                    <li class=""><a href="{{ url }}">{{ loop.index0 + 1 }}. {{ name }}</a></li>
                    {% endif %}
                    {% endfor %}
                </ul>
            </div>
        </div>
        <a href="{{ next_page }}" class="uk-position-medium uk-position-center-right">Next<span
                uk-icon="icon: chevron-right"></span></a>
    </div>
    <div id="lesson-wrapper" class="uk-position-relative">
        <div id="lesson" class="uk-container uk-container-xsmall uk-margin-top">
            {% block lesson %}
            {% endblock %}
        </div>
    </div>



</div>
<!-- Right content -->
<div id="right-content" class="content">
    <div id="code-header"><div id="code-filename">{{ page }}.{{ ext }}</div></div>
    <div id="code-area">
        <div id="code-textarea">
            <!-- data-gramm="false"はgrammarlyを無効にする -->
            <textarea id="editor" class="code lined" wrap="off" autocomplete="off" autocorrect="off"
                autocapitalize="off" spellcheck="false" data-gramm="false">{{ code }}</textarea>
        </div>

    </div>
    <div id="code-buttons" class="buttons">
        <button id="compile-run" class="button" onfocus="this.blur();">Run (Ctrl-Enter)</button>
        <button id="reset" class="button" onfocus="this.blur();">Reset</button>
    </div>
    <div id="program-output">
        <div id="program-output-header">Output</div>
        <div id="program-output-text"></div>
    </div>
</div>


{% endblock %}

{% block script %}
<!-- Stick screen -->
<script>
    $(window).on('load', function () {
        $('body').css('overflow', 'hidden');
        $('html').css('overflow', 'hidden');
    });
</script>


<!-- CodeMirror JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.52.2/codemirror.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.52.2/mode/python/python.min.js"></script>

<!-- Linedtextarea JS -->
<!-- <script src="/static/js/jquery-linedtextarea.js"></script> -->

<!-- JS -->
<script src="/static/js/script.js"></script>
{% endblock %}