{% extends "base.html" %}

<!-- Main contents -->
{% block main%}
<!-- Left content -->
<div id="left-content" class="content">
    <div id="lesson-nav" class="uk-position-relative">
        <a href="{{ previous_page }}" class="uk-position-medium uk-position-center-left"><span
                uk-icon="icon: chevron-left"></span>Previous</a>
        <div class="uk-position-medium uk-position-center">
            <span>{{ page_index }} / {{ page_count }}<span uk-icon="icon: chevron-down"></span></span>
            <div uk-dropdown="mode: click; pos: bottom-justify; boundary: .boundary-align; boundary-align: true"">
                <ul class="uk-nav uk-dropdown-nav">
                    {% for link in links %}
                    <li><a href="{{ link }}">{{ link }}</a></li>
                    {% endfor %}
                </ul>
            </div>
            <!-- <ul class="uk-nav-default uk-nav-parent-icon" uk-nav="multiple: true">
                <li class="uk-parent" id="page-index">
                    <a href="#">{{ page_index }} / {{ page_count }}</span></a>
                    <ul class="uk-nav-sub">
                        {% for link in links %}
                        <li><a href="{{ link }}">a</a></li>
                        {% endfor %}
                    </ul>
                </li>
            </ul> -->
        </div>
        <a href="{{ next_page }}" class="uk-position-medium uk-position-center-right">Next<span
                uk-icon="icon: chevron-right"></span></a>
    </div>
    <div id="lesson-wrapper" class="uk-position-relative">
        <div id="lesson" class="uk-container uk-container-xsmall uk-margin-top">
            {% block lesson %}
            {% endblock %}
        </div>
    </div>



</div>
<!-- Right content -->
<div id="right-content" class="content">

    <div id="code-area">
        <div id="code-textarea">
            <!-- data-gramm="false"はgrammarlyを無効にする -->
            <textarea id="editor" class="code lined" wrap="off" autocomplete="off" autocorrect="off"
                autocapitalize="off" spellcheck="false" data-gramm="false">{{ code }}</textarea>
        </div>

    </div>
    <div id="code-buttons" class="buttons">
        <button id="reset" class="button" onfocus="this.blur();">Reset</button>
        <button id="compile-run" class="button" onfocus="this.blur();">Run</button>
    </div>
    <div id="program-output"></div>
</div>


{% endblock %}

{% block script %}
<!-- Stick screen -->
<script>
    $(window).on('load', function () {
        $('body').css('overflow', 'hidden');
        $('html').css('overflow', 'hidden');
    });
</script>

<!-- CodeMirror JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.52.2/codemirror.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.52.2/mode/python/python.min.js"></script>

<!-- Linedtextarea JS -->
<!-- <script src="/static/js/jquery-linedtextarea.js"></script> -->

<!-- JS -->
<script src="/static/js/script.js"></script>
{% endblock %}