{% extends "plain.html" %}

{% block plain %}
<div class="uk-text-center">
    <h1>Light Coding</h1>
    <p>個人製作によるプログラミング言語のチュートリアルです。学びながらブラウザ上でコードを実行できます。</p>
</div>
<hr>
<div class="">
    <ul class="uk-list uk-text-lead uk-text-center">
        <li>
            <div class="uk-card uk-card-hover">
                <a href="{{ url_for('lesson_list', lang='python')}}" class="uk-link-reset">
                    Python Lesson
                </a>
            </div>
        </li>
    </ul>

</div>

{% endblock %}