{% extends "plain.html" %}

{% block plain %}
<h1>初めに</h1>
<div class="">
    <a href="{{ url_for('lesson', lang='python', section='introduction', page='whypython') }}">Python Lesson</a>
    <p>ここはテストです。</p>
    <br>
    <p>ここはテストです。</p>
    <br>
    <p>ここはテストです。</p>
    <br>
    <p>ここはテストです。</p>
    <br>
    <p>ここはテストです。</p>
    <br>
    <p>ここはテストです。</p>
    <br>
    <p>ここはテストです。</p>
    <br>
    <p>ここはテストです。</p>
    <br>
    <p>ここはテストです。</p>
    <br>
    <p>ここはテストです。</p>
    <br>
    <p>ここはテストです。</p>
    <br>
    <p>ここはテストです
    </p>
    <br>
    <p>ここはテストです。</p>
    <br>
    <p>ここはテストです。</p>
    <br>
    <p>ここはテストです。</p>
    <br>
    <p>ここはテストです。</p>
    <br>
    <p>ここはテストです。</p>
    <br>
    <p>ここはテストです。</p>
    <br>
    <p>ここはテストです。</p>
    <br>
    
</div>
{% endblock %}