{% extends "plain.html" %}

{% block plain %}
<div class="uk-text-center">
    <h1>{{ lang }} Lesson</h1>
</div>
<ul class="section uk-list">
    {% for section, pages in links %}
    <li>
        <div class="uk-section uk-section-xsmall">
            <h4>{{ section[1] }}</h4>
            <ul class="sub-categories uk-text-center">
                {% for page in pages %}
                <li>
                    <div class="uk-card uk-card-hover">
                        <a href="{{ page[0] }}" class="uk-link-reset">{{ page[1] }}</a>
                    </div>
                </li>
                {% endfor %}
            </ul>
        </div>
    </li>
    {% endfor %}
</ul>
{% endblock %}